$baseColor: rgb(105, 25, 25);
$baseColorOpacity: rgba(105, 25, 25, 0.5);
$shadow: lightgray;
$lightShadow: rgb(233, 233, 233);
$darkShadow: gray;
$darkShadowOpacity: rgba(128, 128, 128, 0.5);
$buttonColor: rgb(78, 172, 78);
$buttonColorOpacity: rgba(78, 172, 78, 0.5);
$black: black;
$white: white;